@use '../../index';

.skill {
  padding: 0 0 50px 0;
  position: relative;
  scroll-margin-top: 32px;

  .skill-bx {
    background: #151515;
    border-radius: 64px;
    text-align: center;
    padding: 60px 30px;
    margin-top: -60px;

    h2 {
      font-size: 45px;
      font-weight: 700;
    }

    .skill-bx__description {
      color: #b8b8b8;
      font-size: 18px;
      letter-spacing: 0.8px;
      line-height: 1.5em;
      margin: 14px 0 75px 0;
      padding-left: 60px;
      padding-right: 60px;
    }

  }
  .background-image-left {
    position: absolute;
    top: 0;
    z-index: -4;
    opacity: 0.6;
  }
}

@media (max-width: 992px) {
  .skill {
    background-image: url('../../assets/img/color-sharp2.png');
    .skill-bx {
      h2 {
        font-size: 25px;
      }
      .skill-bx__description {
        font-size: 15px;
        padding: 0;
        margin-bottom: 48px;
      }
    }
  }
}
